{% load static %} 

<head>
	<title> StudyGroup </title>
	<link rel="stylesheet" type="text/css" href="{% static 'StudyGroup_app/base_style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap" rel="stylesheet">
</head>

<section >

<h1>
	<a href = "{% url 'StudyGroup_app:home' %}" id = "title">
	
	StudyGroup </a>
</h1>


{% if user.is_authenticated %}
<h2><a
href = "{% url 'users:logout' %}"
id = "account">
	Log Out
</a></h2>

<h2 id = "account">
	Hello, {{user.username}}!
</h2>


{% else %}
<h2>
<a href = "{% url 'users:register' %}" 
id = "account">
	New? Create a Profile!
</a>
</h2>

<h2>
<a href = "{% url 'users:login' %}"
id = "account"> Log In</a>
</h2>

{% endif %}
<br>
<br>
<br>
<br>


{% block content %}{% endblock content %}
</section>